/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
Byte/Byte.c
Byte/Byte.xs
Byte/MYMETA.json
Byte/MYMETA.yml
Byte/Makefile
Byte/Makefile.old
Byte/byte_t.c
Byte/byte_t.exh
Byte/byte_t.fnm
Byte/byte_t.h
Byte/pm_to_blib
CN/CN.c
CN/CN.xs
CN/MYMETA.json
CN/MYMETA.yml
CN/Makefile
CN/Makefile.old
CN/cp_00_t.c
CN/cp_00_t.exh
CN/cp_00_t.fnm
CN/cp_00_t.h
CN/eu_01_t.c
CN/eu_01_t.exh
CN/eu_01_t.fnm
CN/eu_01_t.h
CN/gb_02_t.c
CN/gb_02_t.exh
CN/gb_02_t.fnm
CN/gb_02_t.h
CN/gb_03_t.c
CN/gb_03_t.exh
CN/gb_03_t.fnm
CN/gb_03_t.h
CN/ir_04_t.c
CN/ir_04_t.exh
CN/ir_04_t.fnm
CN/ir_04_t.h
CN/ma_05_t.c
CN/ma_05_t.exh
CN/ma_05_t.fnm
CN/ma_05_t.h
CN/pm_to_blib
EBCDIC/EBCDIC.c
EBCDIC/EBCDIC.xs
EBCDIC/MYMETA.json
EBCDIC/MYMETA.yml
EBCDIC/Makefile
EBCDIC/Makefile.old
EBCDIC/ebcdic_t.c
EBCDIC/ebcdic_t.exh
EBCDIC/ebcdic_t.fnm
EBCDIC/ebcdic_t.h
EBCDIC/pm_to_blib
Encode.c
JP/JP.c
JP/JP.xs
JP/MYMETA.json
JP/MYMETA.yml
JP/Makefile
JP/Makefile.old
JP/cp_00_t.c
JP/cp_00_t.exh
JP/cp_00_t.fnm
JP/cp_00_t.h
JP/eu_01_t.c
JP/eu_01_t.exh
JP/eu_01_t.fnm
JP/eu_01_t.h
JP/ji_02_t.c
JP/ji_02_t.exh
JP/ji_02_t.fnm
JP/ji_02_t.h
JP/ji_03_t.c
JP/ji_03_t.exh
JP/ji_03_t.fnm
JP/ji_03_t.h
JP/ji_04_t.c
JP/ji_04_t.exh
JP/ji_04_t.fnm
JP/ji_04_t.h
JP/ma_05_t.c
JP/ma_05_t.exh
JP/ma_05_t.fnm
JP/ma_05_t.h
JP/pm_to_blib
JP/sh_06_t.c
JP/sh_06_t.exh
JP/sh_06_t.fnm
JP/sh_06_t.h
KR/KR.c
KR/KR.xs
KR/MYMETA.json
KR/MYMETA.yml
KR/Makefile
KR/Makefile.old
KR/cp_00_t.c
KR/cp_00_t.exh
KR/cp_00_t.fnm
KR/cp_00_t.h
KR/eu_01_t.c
KR/eu_01_t.exh
KR/eu_01_t.fnm
KR/eu_01_t.h
KR/jo_02_t.c
KR/jo_02_t.exh
KR/jo_02_t.fnm
KR/jo_02_t.h
KR/ks_03_t.c
KR/ks_03_t.exh
KR/ks_03_t.fnm
KR/ks_03_t.h
KR/ma_04_t.c
KR/ma_04_t.exh
KR/ma_04_t.fnm
KR/ma_04_t.h
KR/pm_to_blib
Makefile~
Symbol/MYMETA.json
Symbol/MYMETA.yml
Symbol/Makefile
Symbol/Makefile.old
Symbol/Symbol.c
Symbol/Symbol.xs
Symbol/pm_to_blib
Symbol/symbol_t.c
Symbol/symbol_t.exh
Symbol/symbol_t.fnm
Symbol/symbol_t.h
TW/MYMETA.json
TW/MYMETA.yml
TW/Makefile
TW/Makefile.old
TW/TW.c
TW/TW.xs
TW/bi_00_t.c
TW/bi_00_t.exh
TW/bi_00_t.fnm
TW/bi_00_t.h
TW/bi_01_t.c
TW/bi_01_t.exh
TW/bi_01_t.fnm
TW/bi_01_t.h
TW/cp_02_t.c
TW/cp_02_t.exh
TW/cp_02_t.fnm
TW/cp_02_t.h
TW/ma_03_t.c
TW/ma_03_t.exh
TW/ma_03_t.fnm
TW/ma_03_t.h
TW/pm_to_blib
Unicode/MYMETA.json
Unicode/MYMETA.yml
Unicode/Makefile
Unicode/Makefile.old
Unicode/Unicode.c
Unicode/pm_to_blib
def_t.c
def_t.exh
def_t.fnm
def_t.h
